* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body {
    min-height: 100vh;
    background-image: url('main.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #ffffff09;
    backdrop-filter: blur(30px);
    /** margin: 0 15px 15px;**/
    height: 45px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
}

.main ul {
    background-color: white;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

nav li {
    height: 50px;

}

nav li a {
    font-size: 18.5px;
}



.menu li a:hover {
    color: rgb(208, 208, 208);
    border: .99px solid #ffffff ;
    border-radius: 5px;
}

nav li img {
    height: 33px;
}

nav li img:hover {
    cursor: pointer;
}

nav a {
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

nav li:first-child {
    margin-right: auto;
}

nav img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 4px;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(50px);
    background-color: #101c42;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu i {
    font-size: 1.8rem;
}

.sidebar i {
    font-size: 1.8rem;
    margin-top: 7px;
    padding: 7px;
    margin-left: 125.5px;
}

.sidebar li {
    margin: 10px;
    width: 100%;

}

.sidebar li a:hover {
    color: rgb(208, 208, 208);
}

.menu-btn {
    display: none;
}




@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    

    .menu-btn {
        display: block;
    }
}

.home-content {
    color: white;
    align-items: center;
    justify-content: center;

}

#hero {
    padding-top: 315px;
    margin-left: 100px;
    /** font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;**/
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.home-content .text-one {

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #b1b1b1;

    /**ubuntu-bold 
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;**/

}

.home-content .text-two {

    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    color: #ffffff;
}


.home-content .text-three {

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #b1b1b1;
}

.home-content .text-four {

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    padding-top: 7px;
    color: #b1b1b1;
}

a {

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

.btn {
    background-color: #101c42;
    color: white;
    border: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 15px -5px;
    border-radius: 8px;
    cursor: pointer;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.897);
    color: #101c42;
}
