* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'UBUNTU';


}

/*navbar styling*/




nav {
  background: #1a2f67;
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'ubuntu';
}

nav .navbar {
  width: 90%;
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .sidebar {
  display: flex;

}

nav .navbar .menu li {
  list-style: none;
  margin: o 8px;
}

nav .navbar .sidebar li {
  list-style: none;
  padding: 20x;
  color: white;

  font-size: 1.5rem;
}

nav .navbar .sidebar li a {
  color: white;
}

.sidebar .cn {
  margin: 10px 0;
  width: 100%;
  padding-top: 10px;
  padding-left: 40px;

}



/*pddding ke 6px 0 karan jo ai*/
.navbar .menu a {
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 6px 12px;
  transition: all 0.4s ease;
}

.navbar .menu a {
  color: white;
}

.navbar .menu a:hover {
  color: #9ED0E6;
}

.thelogo {
  width: 38px;
}

#logo {
  right: 7rem;
  top: 1px;
  text-decoration: none;
  font-size: 2px;
}

.home {
  font-family: 'ubuntu';
}

.home {
  height: 100vh;
  width: 100%;
  background: url('main.JPG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home .home-content {
  width: 90%;
  min-height: 100VH;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: #989898;
  margin: 2px 0;
}

.home .text-two {
  font-size: 75px;
  color: #fbfbfb;
  font-weight: 700;
  margin-left: -3px;
}

.home .text-two span {
  color: #ffffff;
}

/*responsive side bar*/



.home .text-three {
  font-size: 40px;
  color: #989898;
  margin: 4px 0;
}

.home .text-four {
  font-size: 25px;
  color: #989898;
  margin: 9px 0;
}

/*about section*/
section {
  padding-top: 40px;

}

.about {
  background-color: #ffffff;
  height: 1000px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'poppins';
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #0e2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4563bc;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.about-details .right {
  width: 55%;
}

section .topic {
  color: #0E2431;
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: #0e2431;
  font-size: 14px;
  margin: 30px 0;

}

section .button {
  margin: 16px 0;
}

section .button a {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #1a2e67;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

.button .but-1 {
  background: #274492;
}

section .button a:hover {
  border-color: #1a2e67;
  background-color: #fff;
  color: #1a2e67;
}

.right .media-icons a {
  color: #1a2e67;
  font-size: 25px;
  margin: 0 5px;
}

.menu .menu-btn{
  display: none;
  padding-top: 5px;
  
}

i{
font-size: 36px;
}



